# .gitignore

# Python-specific ignore patterns
__pycache__/
*.pyc
*.pyo
*.pyd

# PyCharm-specific files
.idea/
*.iml
*.ipr
*.iws
inspectionProfiles/

# Other generic ignore patterns
node_modules/
*.log